{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">
      {{ .Site.Title }}
    </h1>
    <div class="post-description">
      {{ .Site.Params.description }}
    </div>
  </header>
  
  <div class="post-content">
    <h2>Recent Projects</h2>
    {{- range first 3 (where .Site.RegularPages "Type" "projects") }}
    <article class="post-entry">
      <header class="entry-header">
        <h3>{{ .Title }}</h3>
      </header>
      <section class="entry-content">
        <p>{{ .Summary }}</p>
      </section>
      <footer class="entry-footer">
        <a href="{{ .Permalink }}" class="entry-link">Read More</a>
      </footer>
    </article>
    {{- end }}
  </div>
</article>

{{- end }}
